
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

  .container {
    margin: auto;
    max-width: 1280px;
  }

  main {
    background-color: #e7f0c5;
    padding-bottom: 75px;
    height: 100vh;
  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

 
  .nav-list-item{
    margin-right: 20px ;
  }

  .logo span{
    color: #62D0DF;
    font-size: 24px;
  }

  .navigator {
    font-size: 14px;
    
  }


  .navigator nav ul {
    display: flex;
    
  }

  .nav-list {
    list-style-type: none;
    
  }

 

  .nav-list-link {
    color: #22356F;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    width: 708px;
    z-index: 1;

  }


  .menu a {
    text-decoration: none;
  }

  .nav-list-link:hover{
    text-decoration: underline;
    font-weight: 600 ;
  }

  .contacts-link{
    color: #ffff;
    font-size: 14px;
    background-color: #62D0DF;
    padding: 10px 15px ;
    border-radius: 50px;
    
  }


  .main_content{
    display: flex;
    height: 100%;
    width: 100%;
    
  }
  
  .content_description {
    width: 484px;
    height: 167px;
    font-size: 24px;
    line-height: 42px;
    color: #22356f;
  }
   



.content_logo{
  margin-top: 100px;
  height: 64px;
  color: #62D0DF;
}

.content_title {
  width: 484px;
  height: 167px;
  font-size: 40px;
  margin-bottom: 19px;
  color: #22356f;
  font-weight: 900;
}



.content_btn_1 {
  width: 150px;
  height: 50px;
  background-color: #f9b640;
  color: #ffffff;
  font-size: 16px ;
  border: none;
  font-weight: 500;
  margin-bottom: 66px;
  margin-top: 25px;
}

.content_btn_2 {
  width: 150px;
  height: 43px;
  color:#f9b640;
  background-color:#e7f0c5 ;
  font-size: 16px ;
  border: none;
  margin-left: 40px;
  font-weight: 500;
  margin-bottom: 66px;
  
} 

.main-right-block{
  width: 100%;
  height: 100%;
  
}

.oval-1 {
  position: absolute;
  top: 0px;
  right: -90px;

  width: 807.71px;
  height: 544.93px;

  
  
  background: #ffffff;
  border-radius: 312.159px;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);



}


.oval-2 {
  position: absolute;
  z-index: 1; 
  width: 807.71px;
  height: 544.93px;
  left: 1157.47px;
  top: 92.57px; 
  background-color: #e7f0c5;
  border-radius: 312.159px;
  transform: matrix(-0.87, 0.5, 0.5, 0.87, 0, 0);
}

.oval-img {
  position: absolute;
  width: 920px;
  height: 625px;
  border-radius: 312.159px;
  top: -38px;
  right: -58px;
  transform: matrix(-0.87, 0.0, 0.0, 0.87, 0, 0);
  opacity: 0.8;
}

.page-2{
  background-color: #ffffff;
}
.about {
  display: flex;
  background-color: #62d0df;

}

.blok1{
  position: absolute;
  background-color: #ffffff;
  height: 79px;
  width: 72.5%;
}

.blok2{
  position: absolute;
  background-color: #ffffff;
  height: 79px;
  width: 72.5%;
}

.about_inner {
  height:450px ;
  align-items: center;
  display: flex;
  max-width: 555px;
  justify-content: center;
}

.about_title {
  margin-bottom: 75px;
  color: #ffff;
}
.about_description {
  font-size: 20px;
  color: #ffff;
  line-height: 35px;
}
.about_desc-bold {
  font-size: 24px;
  color: #ffff;
  line-height: 30px;
}
.about_img-box {
  max-width: 525px;
}
.about_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-us {
  color: #22356f;
}
.about-us_top {
  display: flex;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 150px 10px 76px;
  width: 1440px;
  height: 361px;
  top: 1446px;
}

.about-us_title {
  width: 300px;
  height: 210px;
  line-height: 22.5px;
  letter-spacing: 0.06em;
  margin-left:106px ;
}
.about-us_desc {
  width: 592px;
  height: 210px;
  top: 1596px;
  margin-left:200px;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0.005em;
}